@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
body{
    font-family: 'Inter', sans-serif;
    background-color: #E6E6E6;
}

a{
	text-decoration: none;
}

p{
	margin: 0 0;
}

a:hover{
	color: #2C2C2C;	
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header{
	background-color: #ffffff;
	width: 100%;
	display: flex;
	justify-content: center;
}

ul{
	margin: 0 0;
	padding: 0 0;
}

.display-flex{
	display: flex;
}

.list-style-none{
	list-style: none;
}

.align-items-center{
	align-items: center;
}

.color-2c2c2c{
	color: #2C2C2C;
}

.font-32{
	font-size: 32px;
}

.font-24 {
	font-size: 24px;
}

.pd-left-3percent{
	padding-left: 3.33%;
}
.pd-right-3percent {
	padding-right: 3.33%;
}

.mr-left-1percent {
	margin-left: 10.0%;
}

.mr-right-1percent {
	margin-right: 1.0%;
}

.overflow-auto{
	overflow: auto;
}

.margin-0-auto{
	margin: 0 auto;
}

.font-18 {
	font-size: 18px;
}

.media-header{
	display: inline;
}

.btn{
	border: 1px solid #000;
	border-radius: 5px;
}

.btn:hover{
	color: #ffffff !important;
	background-color: #8DD7AB !important;
	border: 1px solid #ffffff;
	border-radius: 5px;
}

.mr-right-1dot6percent{
	margin-right: 1.666% !important;
}
.mr-right-1dot6percent {
	margin-right: 3.33% !important;
}

.nav-link:hover{
    color: #8DD7AB;
	margin-right: 0;
	margin-left: 0;
}

.color-green{
    color: #8DD7AB !important;
}

.color-green-hover:hover{
    color: #8DD7AB !important;
}

.summary-left{
	margin-right: 1.666%;
	height: 100%;
	width: 100%;
}

.summary-right{
	margin-left: 1.666%;
	height: 100%;
	width: 100%;
}

.summary-allvacancyback{
	margin: 0 0;
	padding: 16px;
	background-color: #ffffff;
	border-radius: 5px;
}

.summary-vacancy-back{
	border-radius: 5px;
	padding: 16px;
	background-color: #E6E6E6;
}

.summary-vacancy-left{
	margin-right: 16px;
	width: 65%;
}
.summary-vacancy-right {
	width: 35%;
}

.summary-meeting-left{
	width: 100%;
}

.summary-meeting-back{
	margin: 0 0;
	padding: 16px;
	border-radius: 5px;
	background-color: #ffffff;
}

.summary-resumes{
	margin: 0 0;
	border-radius: 5px;
}

.summary-resume-1{
	width: auto;
	border-radius: 5px;
	padding: 16px;
	width: 100%;
	float: left;
	margin-right: 8px;
	background-color: #ffffff;
}

.summary-resume-2 {
	border-radius: 5px;
	width: auto;
	padding: 16px;
	width: 100%;
	float: left;
	margin-left: 8px;
	background-color: #ffffff;
}

.summary-community{
	margin: 0 0;
	padding: 16px;
	border-radius: 5px;
	background-color: #ffffff;
}

.summary-community-1{
	border-radius: 5px;
	width: 100%;
}

.summary-community-2 {
	border-radius: 5px;
	width: 100%;
}

.footer{
	background-color: #ffffff;
}

.footer-left{
	width: 100%;
}
.footer-right {
	width: 100%;
}

.float-right{
	float: right;
}
.align-items-center{
	align-items: center !important;
}
.align-items-bottom {
	align-items:baseline;
}
.white-space-nowrap{
	white-space: nowrap;
}

.cursor-pointer{
	cursor: pointer;
}

.svg:hover{
	transform: translate(3px, 0);
		-webkit-transform: translate(3px, 0);
		/** Chrome & Safari **/
		-o-transform: translate(3px, 0);
		/** Opera **/
		-moz-transform: translate(3px, 0);
		/** Firefox **/
}

.back-color-white{
	background-color: #ffffff;
}

.color-black{
	color: black !important;
}

.dd-flex{
	display: flex;
}

.underline{
	color: #8DD7AB;
}
.underline:hover {
	text-decoration: underline;
	color: #2C2C2C;
}

.w-200sad{
	width: 150px;
}

.media-header{
	display: flex;
}
.media-header-true{
	display: none;
}

@media screen and (max-width: 1100px) {
	.dd-flex {
		display: block;
	}
	.summary-left{
		margin: 0 0;
	}
	.summary-right{
		margin: 0 0;
	}
	.media-mrtop{
		margin-top: 16px;
	}
	.media-header {
		display:none;
	}
	.media-header-true{
		display:flex;
	}
}

.dropdown-content {
	left: 0;
	top: 4rem;
	width: 100%;
	display: none;
	position: absolute;
	background-color: #E6E6E6;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover {
	background-color: #ddd
}

.show {
	display: block;
}

/* Main Footer */
footer .main-footer {
	padding: 20px 0;
	background: #fff;
}

footer ul {
	padding-left: 0;
	list-style: none;
}

/* Copy Right Footer */

.footer-copyright .logo {
	display: inherit;
}

.footer-copyright nav {
	float: right;
	margin-top: 5px;
}

.footer-copyright nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* Footer Top */

/* Footer transparent */
footer.transparent .footer-top,
footer.transparent .main-footer {
	background: transparent;
}

footer.transparent .footer-copyright {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
}

/* Footer light */
footer.light .footer-top {
	background: #f9f9f9;
}

footer.light .main-footer {
	background: #f9f9f9;
}

footer.light .footer-copyright {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3);
}

/* Footer 4 */
.footer- .logo {
	display: inline-block;
}

/*==================== 
  Widgets 
====================== */
.widget {
	padding: 20px;
	margin-bottom: 40px;
}

.widget.widget-last {
	margin-bottom: 0px;
}

.widget.no-box {
	padding: 0;
	background-color: transparent;
	margin-bottom: 40px;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
}

.widget.subscribe p {
	margin-bottom: 18px;
}

.widget li a {
	color: #2C2C2C;
}

.widget li a:hover {
	color: #8DD7AB;
}

.widget-title {
	margin-bottom: 20px;
}

.widget-title span {
	background: #839FAD none repeat scroll 0 0;
	display: block;
	height: 1px;
	margin-top: 25px;
	position: relative;
	width: 20%;
}

.widget-title span::after {
	background: inherit;
	content: "";
	height: inherit;
	position: absolute;
	top: -4px;
	width: 50%;
}

.widget-title.text-center span,
.widget-title.text-center span::after {
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.widget .badge {
	float: right;
	background: #7f7f7f;
}

.typo-light h1,
.typo-light h2,
.typo-light h3,
.typo-light h4,
.typo-light h5,
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small {
	color: #000;
}

ul.social-footer2 {
	margin: 0;
	padding: 0;
	width: auto;
}

ul.social-footer2 li {
	display: inline-block;
	padding: 0;
}

ul.social-footer2 li a:hover {
	background-color: #E6E6E6;
}

ul.social-footer2 li a {
	display: block;
	height: 30px;
	width: 30px;
	text-align: center;
}

.btn:hover,
.btn:focus,
.btn.active {
	color: #fff;
	-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
	-ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
	-webkit-transition: all 250ms ease-in-out 0s;
	-moz-transition: all 250ms ease-in-out 0s;
	-ms-transition: all 250ms ease-in-out 0s;
	-o-transition: all 250ms ease-in-out 0s;
	transition: all 250ms ease-in-out 0s;

}





.under-line{
    text-decoration: underline 3px;
    text-underline-offset: 24px;
    text-underline-position: below;
}

.text-end {
    float: right;
    width: 25%;
    padding: 0px;
    text-align: center;
}

.btndelmeet{
    float: right;
    padding: 0px;
    text-align: center;
    margin-top: 16px;
    margin-right: 32px;
}
.btnaddresponse{
    vertical-align: middle;
    float: right;
    padding: 0px;
    text-align: center;
    width: 200px;
    margin-right: 32px;
}
.btneditacc{
    vertical-align: middle;
    padding: 0px;
    text-align: center;
    width: 200px;
    margin-left: 32px;
}


.height1400{
    height: 1400px;
}
.height950{
    height: 950px;
}

.openvakansii{
    position: relative;
    margin-left: 0px;
    display: inline-block;
}

.meeting{
    position: relative;
    margin-left: 0px;
    margin-left: 0px;
    display: inline-block;
}

.opvacancy-text{
    text-decoration: none;
    cursor: pointer;
    color: #2C2C2C;
    font-size: 28px;
    font-weight: bold;
}
.opvacancy-text:hover{
    color: #2C2C2C;
}

.allvacancyback{
    position: relative;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: #ffffff;
    height: 700px;
    width: 840px;
    border-radius: 5px;
}

.vacancy1back{
    position: absolute;
    width: 808px;
    margin-top: 25px;
    margin-left: 16px;
    background-color: #8DD7AB;
    border-radius: 5px;
}

.strelka{
    padding-top: 0px;
    margin-left: 16px;
    cursor: pointer;
}

.vacancy2back{
    position: absolute;
    width: 808px;
    margin-top: 157px;
    margin-left: 16px;
    background-color: #E6E6E6;
    border-radius: 5px;
}

.vacancy3back{
    position: absolute;
    width: 808px;
    margin-top: 289px;
    margin-left: 16px;
    background-color: #E6E6E6;
    border-radius: 5px;
}

.vacancy4back{
    position: absolute;
    width: 808px;
    margin-top: 421px;
    margin-left: 16px;
    background-color: #E6E6E6;
    border-radius: 5px;
}

.vacancy5back{
    position: absolute;
    width: 808px;
    margin-top: 553px;
    margin-left: 16px;
    background-color: #E6E6E6;
    border-radius: 5px;
}

.vacancyname-text{
    font-size: 16px;
    font-weight: bolder;
    margin-top: 20px;
    margin-left: 25px;
}
.vacancyname1{
    font-size: 16px;
    font-weight: bolder;
    margin-top: 32px;
    margin-left: 32px;
    display: inline-block;
}

.vacancy1workexperience{
    margin-top: 16px;
    margin-left: 25px;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
}

.vacancy1typeofemployment{
    margin-top: 16px;
    margin-left: 64px;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
}

.vacancy1adddate{
    margin-top: 16px;
    margin-left: 25px;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
}

.vacancy1companyname{
    margin-top: 16px;
    margin-left: 64px;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
    margin-bottom: 16px;
}
.vacancycompanyname1{
    margin-top: 16px;
    margin-left: 32px;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
}

.vacancysalary1{
    margin-top: 16px;
    margin-left: 32px;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
}

.vacancycity1{
    margin-top: 16px;
    margin-left: 32px;
    font-size: 16px;
    font-weight: normal;
    display: inline-block;
}

.vacancyaddinfo1{
    width: 750px;
    margin-top: 16px;
    margin-left: 32px;
    font-size: 16px;
    font-weight: normal;
}

.leftbar{
    margin-top: 32px;
    display: inline-block;
}

.rightbar{
    position: absolute;
    display: inline-block;
    margin-top: 32px;
    margin-left: 64px;
}

.allmeetingback{
    position: relative;
    border-radius: 5px;
    margin-top: 16px;
    width: 808px;
    height: 150px;
    background-color: #ffffff;
}


.photomeet{
    display: inline-block;
    color: #2C2C2C;
    display: table-cell;
    vertical-align:middle;
}

.mrtop3{
    margin-top: 3px;
}
.mrtop16{
    margin-top: 16px;
}
.mrtop32{
    margin-top: 32px;
}
.mrtop64{
    margin-top: 64px;
}
.mrtop24{
    margin-top: 24px;
}
.mrtop20{
    margin-top: 20px;
}

.mrleft16{
    margin-left: 16px;
}
.mrleft32{
    margin-left: 32px;
}
.mrleft64{
    margin-left: 64px;
}
.mrleft128{
    margin-left: 128px;
}
.mrleft400{
    margin-left: 550px;
}
.mrleft256{
    margin-left: 360px;
}
.mrleft2566{
    margin-left: 325px;
}
.mrleft28{
    margin-left: 28px;
}

.mrright16{
    margin-right: 16px;
}

.mrbottom8{
    margin-bottom: 8px;
}
.imgresume{
    width: 200px;
    height: 200px;
}
.timemeet{
    display: inline-block;
    display: table-cell;
    vertical-align:middle;
}

.namemeet{
    display: inline-block;
    margin-top: 16px;
    margin-left: 32px;
    color: #2C2C2C;
    font-size: 16px;
    font-weight: bolder;
}
.descripmeet{
    display: inline-block;
    color: #2C2C2C;
    font-size: 14px;
}

.left{
    display: table-cell;
    vertical-align:middle;
    width: 800px;
}

.right{
    width: 300px;
    position: relative;
    display: table-cell;
    vertical-align:middle;
    margin-left: auto;
}

.w-200 {
    width: 200px!important;
}

.resume{
    position: relative;
    margin-left: 0px;
    display: inline-block;
}
.article{
    position: relative;
    margin-left: 0px;
    display: inline-block;
}

.resume1back{
    display: inline-block;
    vertical-align:middle;
    border-radius: 5px;
    width: 393px;
    height: 90px;
    background-color: #ffffff;
    cursor: pointer;
}
.resume2back{
    display: inline-block;
    vertical-align:middle;
    width: 393px;
    height: 90px;
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
}

.article1back{
    position: relative;
    display: inline-block;
    vertical-align:middle;
    border-radius: 5px;
    width: 360px;
    height: 268px;
    cursor: pointer;
}
.article2back{
    position: relative;
    display: inline-block;
    vertical-align:middle;
    border-radius: 5px;
    width: 300px;
    height: 268px;
    cursor: pointer;
}

.strokaresume{
    display: inline-block;
}
.resumeinfo{
    display: inline-block;
}

.font-bolder{
    font-weight: bolder;
}

.allarticle{
    border-radius: 5px;
    width: 808px;
    height: 308px;
    background-color: #ffffff;
    cursor: pointer;
}

.article-text{
    margin-top: -60px;
    color: #ffffff;
    line-height: 25px;
    font-size: 20px;
}

.firstline {
    position: relative;
    margin-top: 12px;
    width: 1000px;
    margin-left: 500px;
    margin-right: auto;
    flex: 1 0 auto;
}

.aboutus {
    margin-left: 0%;
    display: inline-block;
    vertical-align:top;
}

.support {
    margin-left: 10%;
    display: inline-block;
    vertical-align:top;
}

.SocSeti {
    margin-left: 10%;
    display: inline-block;
    vertical-align:top;
}

.aboutuscontext {
    margin-top: 14px;
}

.devicescontext {
    margin-top: 14px;
}

.SocSeticontext {
    margin-top: 14px;
}

.fontbold {
    font-weight: bold;
}

.fontregular {
    font-weight: normal;
}

.font16 {
    font-size: 16px;
    text-decoration: none;
    color: #2C2C2C;
}

.font16:hover {
    color: #2C2C2C;
}

.font36 {
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    color: #2C2C2C;
    margin-left: 4.5%;
}
.font36:hover {
    color: #2C2C2C;
}

.copyright {
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;
    color: #2C2C2C;
    padding: 30px 15px;
}
.copyright:hover {
    color: #2C2C2C;
}

.copy {
    position: relative;
    margin-top: 16px;
    margin-right: 0%;
    margin-left: 800px;
    flex: 0 0 auto;
}

.backwhite{
    background-color: #ffffff;
    display: flex;
	flex-direction: column;
	min-height: 100%;
}

.font-bold{
    font-weight: bold;
}

.font24{
    font-size: 24px;
}

.font20{
    font-size: 20px;
}

.color-bububu{
    color: #2C2C2C;
}

.leftbarvacancy{
    
    display: inline-block;
    vertical-align: top;
}

.rightbarvacancy{
    width: 1800px;
    display: inline-block;
    vertical-align: top;
}
.w-100px{
    width: 800px;
}
.dis-tabcell-ver-align-middle{display: table-cell;
vertical-align:middle;
}

.vacancyback{
    width: 1070px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 5px;
}
.meetingback{
    width: 1070px;
    height: 110px;
    background-color: #ffffff;
    border-radius: 5px;
}

.accback{
    width: 600px;
    height: 750px;
    background-color: #ffffff;
    border-radius: 5px;
}
.meetingssback{
    width: 600px;
    height: 550px;
    background-color: #ffffff;
    border-radius: 5px;
}

.accimg{
    margin-top: 32px;
    margin-left: 32px;
    width: 400px;
    height: 400px;
}

.field{
    margin-top: 32px;
    margin-left: 32px;
}
.w-50{
    width: 20%;
}
.field input {
    margin-top: 16px;
    margin-left: 0px;
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 95%;
    min-height: 44px;
    border: unset;
    border-radius: 4px;
    outline-color: #8DD7AB ;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

.articleback{
    width: 1070px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 5px;
}

.imgarticle{
    vertical-align: middle;
    padding-left: 32px;
    margin-top: 24px;
    width: 200px;
    height: 150px;
}